---
export type Props = {
  demoUrl: string,
  gitHubUrl: string,
  projectName: string,
  description: string,
  image: {altText: string, src: string}
}

const {projectName, demoUrl, gitHubUrl, description, image} = Astro.props
---
<article class="post">
  <header>
    <div class="title">
      <h2>
        <a
          href={demoUrl}
          target="_blank"
          rel="noopener noreferrer"
        >
        {projectName}
        </a>
      </h2>
      <p>{description}</p>
    </div>
  </header>
  <a
    href={demoUrl}
    class="image featured"
    target="_blank"
    rel="noopener noreferrer"
  >
    <img
      src={image.src}
      alt={image.altText}
    >
  </a>
  <p>Tech Used: JavaScript, CSS, Node, Express, Pug, MongoDB, Mongoose</p>
  <footer>
    <ul class="actions">
      <li>
        <a
          href={demoUrl}
          class="button large"
          target="_blank"
          rel="noopener noreferrer"
        >Live Demo</a>
      </li>
      <li>
        <a
          href={gitHubUrl}
          class="button large"
          target="_blank"
          rel="noopener noreferrer"
        >Github Repo</a>
      </li>
    </ul>
  </footer>
</article>